<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/news.css">
        <link rel="stylesheet" type="text/css" href="css/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="css/slick/slick-theme.css"/>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs') %>

    <div class="container header-container">
        <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
            <button class="btn btn-outline-success" id="searchButton" type="submit">Search</button>
        </div>
    </div>
    <div class="container main-container"></div>

    <%- include('./partials/footer.ejs') %>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="module" src="js/news.js"></script>
</body>

</html>