<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/self-care.css">
</head>

<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs') %>

        <main class="container">
            <section>
                <h2>Treating COVID-19 at home: Care tips for you and others</h2>
                <h5>
                    Providing care at home for a person sick with COVID-19? Or caring for
                    yourself at home? Understand when emergency care is needed and what
                    you can do to prevent the spread of infection.
                </h5>
                <a href="#" target="_blank">By Mayo Clinic Staff</a>
                <!-- Articles -->
                <p>
                    If you have coronavirus disease 2019 (COVID-19) and you're caring
                    for yourself at home or you're caring for a loved one with COVID-19
                    at home, you might have questions. How do you know when emergency
                    care is needed? How long is isolation necessary? What can you do to
                    prevent the spread of germs? How can you support a sick loved one
                    and manage your stress? Here's what you need to know.
                </p>
            </section>
            <section>
                <h6>At-home treatment</h6>
                <p>
                    Most people who become sick with COVID-19 will only experience mild
                    illness and can recover at home. Symptoms might last a few days, and
                    people who have the virus might feel better in about a week.
                    Treatment is aimed at relieving symptoms and includes rest, fluid
                    intake and pain relievers.
                </p>
                <p>
                    However, older adults and people of any age with existing chronic
                    medical conditions should call their doctor as soon as symptoms
                    start. These factors put people at greater risk of becoming
                    seriously ill with COVID-19.
                </p>
                <p>
                    Follow the doctor's recommendations about care and home isolation
                    for yourself or your loved one. Talk to the doctor if you have any
                    questions about treatments. Help the sick person get groceries and
                    any medications and, if needed, take care of his or her pet.
                </p>
                <p>
                    It's also important to consider how caring for a sick person might
                    affect your health. If you are older or have an existing chronic
                    medical condition, such as heart or lung disease or diabetes, you
                    may be at higher risk of serious illness with COVID-19. You might
                    consider isolating yourself from the sick person and finding another
                    person to provide care.
                </p>
            </section>
            <section>
                <h6>Emergency warning signs</h6>
                <p>
                    Carefully monitor yourself or your loved one for worsening symptoms.
                    If symptoms appear to be getting worse, call the doctor.
                </p>
                <p>
                    The doctor might recommend use of a home pulse oximeter, especially
                    if the ill person has risk factors for severe illness with COVID-19
                    and COVID-19 symptoms. A pulse oximeter is a plastic clip that
                    attaches to a finger. The device can help check breathing by
                    measuring how much oxygen is in the blood. A reading of less than
                    92% might increase the need for hospitalization. If the doctor
                    recommends a pulse oximeter, make sure you understand how to use the
                    device properly and when a reading should prompt a call to the
                    doctor.
                </p>
                <p>
                    If you or the person with COVID-19 experiences emergency warning
                    signs, medical attention is needed immediately. Call 911 or your
                    local emergency number if the sick person can't be woken up or you
                    notice any emergency signs, including:
                </p>
                <ul>
                    <li>Trouble breathing</li>
                    <li>Persistent chest pain or pressure</li>
                    <li>New confusion</li>
                    <li>Bluish lips or face</li>
                    <li>Inability to stay awake</li>
                </ul>
            </section>
            <section>
                <h6>Protecting others if you're ill</h6>
                <p>
                    If you're ill with COVID-19, you can help prevent the spread of
                    infection with the COVID-19 virus.
                </p>
                <ul>
                    <li>
                        Stay home from work, school and public areas unless it's to get
                        medical care.
                    </li>
                    <li>
                        Avoid using public transportation, ride-sharing services or taxis.
                    </li>
                    <li>
                        Stay isolated in one room, away from your family and other people,
                        as much as possible. This includes eating in your room. Open
                        windows to keep air circulating. Use a separate bathroom, if
                        possible.
                    </li>
                    <li>
                        Avoid shared space in your home as much as possible. When using
                        shared spaces, limit your movements. Keep your kitchen and other
                        shared spaces well ventilated. Stay at least 6 feet (2 meters)
                        away from your family members.
                    </li>
                    <li>
                        Clean often-touched surfaces in your separate room and bathroom,
                        such as doorknobs, light switches, electronics and counters, every
                        day.
                    </li>
                    <li>
                        Avoid sharing personal household items, such as dishes, towels,
                        bedding and electronics.
                    </li>
                    <li>
                        Wear a face mask when near others. Change the face mask each day.
                    </li>
                    <li>
                        If wearing a face mask isn't possible, cover your mouth and nose
                        with a tissue or elbow when coughing or sneezing. Afterward, throw
                        away the tissue or wash the handkerchief.
                    </li>
                    <li>
                        Frequently wash your hands with soap and water for at least 20
                        seconds, or use an alcohol-based hand sanitizer that contains at
                        least 60% alcohol.
                    </li>
                </ul>
            </section>
            <section>
                <h6>Protecting yourself while caring for someone with COVID-19</h6>
                <p>
                    To protect yourself while caring for someone with COVID-19, the U.S.
                    Centers for Disease Control and Prevention (CDC) and the World
                    Health Organization (WHO) recommend:
                </p>
                <ul>
                    <li>
                        <strong>Keep your hands clean and away from your face. </strong>Frequently wash your hands
                        with soap and water for at least 20
                        seconds, especially after being in close contact or in the same
                        room as the sick person. If soap and water aren't available, use a
                        hand sanitizer that contains at least 60% alcohol. Avoid touching
                        your eyes, nose and mouth.
                    </li>
                    <li>
                        <strong>Wear a face mask.</strong>If you need to be in the same
                        room with the person who is ill and he or she isn't able to wear a
                        face mask, wear a face mask. Stay at least 6 feet (2 meters) away
                        from the ill person. Don't touch or handle your mask while you are
                        using it. If your mask gets wet or dirty, replace it with a clean,
                        dry mask. Throw away the used mask and wash your hands.
                    </li>
                    <li>
                        <strong>Clean your home frequently.</strong>Every day, use
                        household cleaning sprays or wipes to clean surfaces that are
                        often touched, including counters, tabletops and doorknobs. Avoid
                        cleaning the sick person's separate room and bathroom. Set aside
                        bedding and utensils for the sick person only to use.
                    </li>
                    <li>
                        <strong>Be careful with laundry.</strong>Don't shake dirty
                        laundry. Use regular detergent to wash the sick person's laundry.
                        Use the warmest setting you can. Wash your hands after putting
                        clothes in the dryer. Thoroughly dry clothes. If you are handling
                        clothing that has been soiled by the sick person, wear disposable
                        gloves and keep the items away from your body. Wash your hands
                        after removing the gloves. Place dirty gloves and masks in a waste
                        bin with a lid in the sick person's room. Clean and disinfect
                        clothes hampers and wash your hands afterward.
                    </li>
                    <li>
                        <strong>Be careful with dishes.</strong>Wear gloves when handling
                        dishes, cups or utensils used by the sick person. Wash the items
                        with soap and hot water or in the dishwasher. Clean your hands
                        after taking off the gloves or handling used items.
                    </li>
                    <li>
                        <strong>Avoid direct contact with the sick person's bodily
                            fluids.</strong>Wear disposable gloves and a face mask when providing oral and
                        respiratory care and when handling stool, urine or other waste.
                        Wash your hands before and after removing your gloves and mask.
                        Don't reuse your mask or gloves.
                    </li>
                    <li>
                        <strong>Avoid having unnecessary visitors in your home. </strong>Don't allow visitors until
                        the sick person has completely
                        recovered and has no signs or symptoms of COVID-19.
                    </li>
                </ul>
            </section>
            <section>
                <h6>Ending isolation or quarantine</h6>
                <p>
                    Talk to the doctor about when to end home isolation, especially if
                    you have a weakened immune system. The CDC recommends the following
                    guidelines for ending home isolation after you think or know you had
                    COVID-19.
                </p>
                <ul>
                    <li>
                        <strong>If you won't have a test to determine if you're still
                            contagious,</strong>you can leave your sick room or home if at least 10 days have
                        passed since your symptoms started, at least 24 hours have passed
                        with no fever without the use of fever-reducing medicine and other
                        symptoms are improving. Loss of taste and smell might last for
                        weeks or months after recovery but shouldn't delay ending
                        isolation.
                    </li>
                    <li>
                        <strong>If you'll be tested to determine if you're still
                            contagious,</strong>your doctor will let you know when you can be around others based
                        on your test results. Most people don't need testing to decide
                        when they can be around others.
                    </li>
                </ul>
                <p>
                    The CDC also recommends that, as the sick person's caregiver, you
                    quarantine for 14 days and watch for common signs and symptoms of
                    COVID-19, such as fever, cough or shortness of breath. Other options
                    may include ending quarantine after 10 days if you don't have
                    symptoms and won't get tested or ending quarantine after 7 days if
                    you receive a negative test result. However, continue to watch for
                    symptoms for 14 days.
                </p>
                <p>
                    However, if you’ve been caring for someone with COVID-19, you don’t
                    need to stay home if:
                </p>
                <ul>
                    <li>
                        You’ve been fully vaccinated within the last three months and have
                        no symptoms of COVID-19.
                    </li>
                    <li>
                        You’ve had COVID-19 within the last three months, recovered and
                        remain without symptoms of COVID-19.
                    </li>
                </ul>
            </section>
            <section>
                <h6>Coping with caregiving stress</h6>
                <p>
                    As you or your loved one recover, seek emotional support. Stay
                    connected to others through texts, phone calls or videoconferences.
                    Share your concerns. Avoid too much COVID-19 news. Rest and focus on
                    enjoyable activities, such as reading, watching movies or playing
                    online games.
                </p>
                <p>
                    As you take care of a loved one who is ill with COVID-19, you might
                    feel stressed too. You might worry about your health and the health
                    of the sick person. This can affect your ability to eat, sleep and
                    concentrate, as well as worsen chronic health problems. It may also
                    increase your use of alcohol, tobacco or other drugs.
                </p>
                <p>
                    If you have a mental health condition, such as anxiety or
                    depression, continue with your treatment. Contact your doctor or
                    mental health professional if your condition worsens.
                </p>
                <p>To care for yourself, follow these steps:</p>
                <ul>
                    <li>
                        Maintain a daily routine, including showering and getting dressed.
                    </li>
                    <li>Take breaks from COVID-19 news, including social media.</li>
                    <li>Eat healthy meals and stay hydrated.</li>
                    <li>Exercise.</li>
                    <li>Get plenty of sleep.</li>
                    <li>Avoid use of drugs and alcohol.</li>
                    <li>Stretching, breathe deeply or meditate.</li>
                    <li>Focus on enjoyable activities.</li>
                    <li>Connect with others and share how you are feeling.</li>
                </ul>
                <p>
                    Caring for yourself can help you cope with stress. It will also help
                    you be able to support your loved one's recovery.
                </p>
            </section>

            <!-- More Info -->
            <section>
                <h5>Resources:</h5>
                <ol>
                    <li>
                        <a href="https://www.mayoclinic.org/diseases-conditions/coronavirus/in-depth/treating-covid-19-at-home/art-20483273"
                            target="_blank">Mayo Clinic: Treating COVID-19 at home: Care tips for you and
                            others</a>
                    </li>
                    <li>
                        <a href="https://healthalerts.stanford.edu/covid-19/prevention-care/personal-care-prevention/"
                            target="_blank">Stanford COVID-19 Health Alerts: Prevention and self-care</a>
                    </li>
                </ol>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>
</body>

</html>