<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/staying-safe.css">
</head>

<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs') %>

        <%- include('./partials/footer.ejs') %>
</body>

</html>