<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/staying-safe.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs') %>

        <main class="container">
            <section data-aos="zoom-out">
                <!-- Main -->
                <h2>Coronavirus Safety Tips for Everyone</h2>
                <h5>
                    Acording to the CDC, COVID-19 symptoms include
                    <span>fever, coughing, and shortness of breath, plus others.</span>
                    Symptoms may appear 2-14 days after exposure. Call your doctor for
                    medical advice if you think you have been exposed to COVID-19 or
                    develop symptoms.
                </h5>
            </section>

            <!-- Box -->
            <section class="d-flex justify-content-center" data-aos="flip-left">
                <aside>
                    <article class="article box container">
                        <h4>How Does COVID-19 Spread?</h4>
                        <ul>
                            <li class="list-1">
                                According to the CDC, the virus is thought to be spread mainly
                                from person-to-person. This means it may spread between people who
                                are in close contact with one another (within about 6 feet), or
                                through respiratory droplets when an infected person coughs or
                                sneezes. These droplets can land in the mouths or noses of people
                                who are nearby or possibly be inhaled into the lungs. COVID-19 may
                                be spread by people who are not showing symptoms.
                            </li>
                            <li class="list-2">
                                The CDC also reports that it may be possible for someone to get
                                COVID-19 by touching a surface or object with the virus on it, and
                                then touching their own mouth, nose, or possibly their eyes, but
                                this is not thought to be the main way the virus spreads.
                            </li>
                            <li class="list-3">
                                The best way to prevent illness from COVID-19 is to avoid being
                                exposed to the virus.
                            </li>
                        </ul>
                    </article>
                </aside>
            </section>
            <!-- Practice -->
            <section class="article practice" data-aos="fade-right">
                <h6>Use Healthy Practice to Protect Yourself</h6>
                <h5>
                    The best way to stay healthy is to follow these steps from the CDC:
                </h5>
                <ul>
                    <li>
                        Wash your hands often with soap and water for at least 20 seconds,
                        especially after being in a public place, or after blowing your
                        nose, coughing or sneezing. If soap and water are not readily
                        available, use a hand sanitizer with at least 60% alcohol.
                    </li>
                    <li>Avoid touching your eyes, nose and mouth with unwashed hands.</li>
                    <li>
                        Avoid close contact with people who are sick, and practice social
                        distancing by keeping at least 6 feet away from others if you must
                        go out in public.
                    </li>
                    <li>
                        Wear a <span>cloth face covering</span> to cover your mouth and nose
                        when around others and when you must go out in public. The cloth
                        face cover is meant to protect other people in case you are
                        infected. Don’t place one on young children under age 2, anyone who
                        has trouble breathing, or is unconscious, incapacitated or otherwise
                        unable to remove the mask without assistance.
                        <a href="#" target="_blank">Learn more.</a>
                    </li>
                    <li>
                        Cover your nose and mouth with a tissue when coughing or sneezing
                        and throw the tissue away after use. If a tissue isn’t available,
                        cough or sneeze into your elbow or sleeve, not your hands.
                    </li>
                    <li>
                        Clean and disinfect frequently touched surfaces daily. This includes
                        tables, doorknobs, light switches, handles, desks, computers,
                        phones, keyboards, sinks, toilets, faucets and countertops.
                        <a href="#" target="_blank">Read full CDC information.</a>
                    </li>
                </ul>
            </section>

            <!-- Steps -->
            <section data-aos="fade-left">
                <h6>
                    Follow these five easy steps to help prevent the spread of COVID-19
                </h6>
                <article class="steps d-flex flex-column align-items-center justify-content-center">
                    <div class="steps__list">
                        <div class="step-1">
                            <img src="
                        https://www.redcross.org/content/dam/icons/general-icons/tissue/Tissue-1000x1000-R-Pl.png.transform/1288/q82/feature/image.png"
                                alt="tissue" />
                            <caption>
                                Sneeze or cough? Cover your nose and mouth with a tissue or use your
                                elbow.
                            </caption>
                        </div>
                        <div class="step-2">
                            <img src="https://www.redcross.org/content/dam/icons/general-icons/wash-hands/Wash-Hands-1000x1000-R-Pl.png.transform/1288/q82/feature/image.png"
                                alt="washing hand" />
                            <caption>
                                Wash your hands often with soap and water for at least 20 seconds.
                            </caption>
                        </div>
                        <div class="step-3">
                            <img src="https://www.redcross.org/content/dam/icons/general-icons/disinfectant/Disinfectant-1000x1000-R-Pl.png.transform/1288/q82/feature/image.png"
                                alt="disinfect" />
                            <caption>
                                Clean and disinfect surfaces around your home and work frequently.
                            </caption>
                        </div>
                        <div class="step-4">
                            <img src="https://www.redcross.org/content/dam/icons/general-icons/social-distancing/Social-Distancing-1000x1000-R-Pl.png.transform/1288/q82/feature/image.png"
                                alt="social distancing" />
                            <caption>
                                Keep at least 6 feet between yourself and others if you must be in
                                public.
                            </caption>
                        </div>
                        <div class="step-5">
                            <img src="https://www.redcross.org/content/dam/icons/disasters/pandemic-flu/Pandemic-Flu-1000x1000-R-Pl.png.transform/1288/q82/feature/image.png"
                                alt="wear mask" />
                            <caption>
                                Wear a cloth face covering over your mouth and nose when around
                                others.
                            </caption>
                        </div>
                    </div>
                </article>
            </section>

            <!-- More Info -->
            <section>
                <h5>Resources:</h5>
                <ol>
                    <li>
                        <a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/coronavirus-safety.html"
                            target="_blank">American Red Cross: Coronavirus Safety</a>
                    </li>
                    <li>
                        <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html"
                            target="_blank">CDC: How to Protect Yourself & Others</a>
                    </li>
                </ol>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
                AOS.init({
                    easing: "ease",
                    duration: 1800,
                });
            </script>
</body>

</html>