* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif; /*CAN CHOOSE OTHER FONT FROM GOOGLE FONTS*/
}

.select-placeholder {
    margin-top: 50px;
    margin-bottom: 50px;
}

.search-input {
    width: 200px;
}

.search-button {
    margin-right: 14px;
}

.col {
    max-width: 280px;
    min-width: 280px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d5d0cd
};

.row {
    margin-bottom: 20px;
    max-height: 200px
};



