h2 {
	font-weight: bold;
	margin-bottom: 1.5rem;
}

h6 {
	font-size: 20px;
	font-weight: bold;
}

main {
	margin: 2rem;
	padding: 2rem;
}

ul {
	padding: 0 40px;
}

aside {
	width: 500px;
	background-color: lightgray;
	display: inline-flex;
	justify-content: center;
	padding: 1.5em;
}

img {
	padding-right: 2em !important;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.steps img {
		height: 60px;
	}

	.steps {
		font-size: 0.8em;
	}
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.steps img {
		height: 80px;
	}
}

/* Desktop and Laptop screens */
@media only screen and (min-width: 1025px) {
	.steps img {
		height: 100px;
	}
}
